*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(213, 215, 218);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(44, 45, 48);
}

button{
  border-style: none;
  transition: 0.1s allow-discrete;
  padding: .6rem 1.2rem;
  font-size: 1rem;
  border-radius: .5rem;
  color:rgb(44, 45, 48);
  font-weight: 800;
}

button:hover{
  outline-style: solid;
  outline-color: rgb(104, 155, 231);
}

button:active{
  transform: scale(0.95);
}